.app {
  background-color: #f4f2f7;
  width: 90vw;
  height: 100vh;
}

.header {
  border-radius: 0 0 30px 30px;
  background-color: #3f2c7a;
}
.header p {
  font-family: Lato;
  font-size: 24px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #efedf2;
  margin: 0;
}

.home {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.homeTest {
  background-color: #3f2c7a;
  color: #efedf2;
  height: 100vh;
}

.homeIcon {
  color: #efedf2;
  width: 6rem;
  height: 6rem;
}

.homeIcon svg {
  color: #efedf2;
  width: 6rem;
  height: 6rem;
}

.home h3 {
  color: #efedf2;
}

.header {
  margin-bottom: 10px;
  background-color: #3f2c7a;
  box-shadow: 0 4px 2px 2px #3f2c7a;
}

.questionnary {
  background-color: #3f2c7a;
  height: 100vh;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 0 16px;
}

.MuiFormControlLabel-label {
  border-radius: 10px;
  border: solid 1.3px rgba(63, 44, 122, 0.8);
  padding: 15px;
}

.MuiFormControlLabel-root {
  margin: 4px;
}
